<!DOCTYPE html>
<html>

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Google Font & Icons -->
        <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!--
        manifest.json provides metadata used when your web app is installed on a
        user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
        -->
        <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
        <!--
        Notice the use of %PUBLIC_URL% in the tags above.
        It will be replaced with the URL of the `public` folder during the build.
        Only files inside the `public` folder can be referenced from the HTML.

        Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
        work correctly both with client-side routing and a non-root public URL.
        Learn how to configure a non-root public URL by running `npm run build`.
        -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Spam Message Detector</title>
    </head>

    <body>
        <header class="header">
            <a href="{{ url_for('home') }}"><img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt = "logo"/></a>
            <p class="title">Spam Message Detector</p> 
        </header>

        <!--主要应用功能是在下面这个代码块中实现的-->
        {% block content %}{% endblock %}

        <footer>
            <div class="container-fluid padding">
              <div class="row text-center">
                <div class="col-md-4">
                  <hr class="light">
                  <h3>About Me</h3>
                  <hr class="light">
                  <p><a href="https://github.com/MadMacZhu" target="_blank">My Github Homepage</a></p>
                  <p><a href="https://github.com/MadMacZhu/DeepLearning-SpamorHam" target="_blank">This Project's Github Repository</a></p>
                  <p>mattzhu1989@gmail.com</p>
                  <p>Shenzheng, Guangdong</p>
                </div>
      
                <div class="col-md-4">
                  <hr class="light">
                  <h3>Awesome Resources</h3>
                  <hr class="light">
                  <p><a href="https://www.coursera.org/learn/introduction-tensorflow" target="_blank">Introduction to Tensorflow</a></p>
                  <p><a href="https://www.coursera.org/specializations/deep-learning?" target="_blank">Deep Learning Specialization</a></p>
                  <p><a href="https://youtu.be/mU6anWqZJcc" target="_blank">HTML5 and CSS3 from Scratch</a></p>
                  <p><a href="https://youtu.be/MwZwr5Tvyxo" target="_blank">Python Flask Tutorial</a></p>
                </div>
      
                <div class="col-md-4">
                  <hr class="light">
                  <h3>Special Thanks</h3>
                  <hr class="light">
                  <p><a href="https://www.youtube.com/channel/UCaO6VoaYJv4kS-TQO_M-N_g" target="_blank">Clément Mihailescu Youtube Channel</a></p>
                  <p><a href="https://www.youtube.com/channel/UC4JX40jDee_tINbkjycV4Sg" target="_blank">Tech with Tim Youtube Channel</a></p>
                  <p><a href="https://www.youtube.com/user/krishnaik06" target="_blank">Krish Naik Youtube Channel</a></p>
                  <p><a href="https://www.youtube.com/channel/UCiT9RITQ9PW6BhXK0y2jaeg" target="_blank">Ken Jee Youtube Channel</a></p>
                </div>
              </div>
            </div>
          </footer>
      
          <div class="col-12">
            <hr class="light socket">
            <h5>&copy;MadMacZhu, 2020-09-15</h5>
          </div>
    </body>

</html>