{% extends "base.html" %}
{% block content %}

	<div class="ml-container">
        <div class="form">
            <form action="{{ url_for('predict')}}" method="POST">
                <p>Enter Your Message Here:</p>
                <!-- <input type="text" name="comment"/> -->
                <textarea name="message" rows="6" cols="50"></textarea>
                <br/>
                <input type="submit" class="btn btn-primary btn-lg" value="Predict">		
            </form>
        </div>
        
        <div class="sample-texts">
            <form action="{{ url_for('generate') }}" method="POST">
                <div>Try some sample text:</div>
                {% if sample_messages != None %}
                    {% for message in sample_messages %}
                        <div class="text-message">{{ message }}</div>
                        <br>
                    {% endfor %}
                {% endif %}
                <input type="submit" class="btn btn-secondary btn-lg" value="Generate">
            </form>
        </div>            
	</div>
{% endblock %}